<div class="searx-navbar">
    <span class="instance {% if rtl %}pull-right{% else %}pull-left{% endif%}">
    </span>
    <span class="{% if rtl %}pull-left{% else %}pull-right{% endif %}">
        <a href="{{ url_for('preferences') }}">{{ _('preferences') }}</a>
    </span>
<button id="signin-button">Sign in with Blockstack </button>
<span id="afterLogin"  style="display:none">
Hi <span id="personName"></span>. <a href="{{ url_for('preferences') }}"> Check your settings here</a>
</span>
	
<script>
		
	
  const appConfig = new blockstack.AppConfig();
  const userSession = new blockstack.UserSession({ appConfig: appConfig });

 document.getElementById('signin-button').addEventListener('click', function() {
   userSession.redirectToSignIn();
 });

if (userSession.isUserSignedIn()) {

 document.getElementById('signin-button').remove();
storePref();

 } else if (userSession.isSignInPending()) {
   userSession.handlePendingSignIn()
   .then(() => {
console.log("Signed in by pending");
 document.getElementById('signin-button').remove();
storePref();
   })
 }

// Storing Preference in storage
function storePref()
{
	document.querySelector("div.searx-navbar > span.pull-right > a").remove();
	// Blockstack name and settings display
	document.querySelector("#afterLogin").style.display="inline";
	document.querySelector("#personName").textContent = userSession.loadUserData().profile.name;
	
// Blockstack storage	
var val;
fetch('https://searx.world/preferences')
    .then(function(response) {
        return response.text()
    })
    .then(function(html) {
        var parser = new DOMParser();

        var doc = parser.parseFromString(html, "text/html");
		 val = doc.querySelector("#search_form > p:nth-child(5) > input").value;console.log(val);

let options = {
  encrypt: false
}
 userSession.putFile("/searxPreference.txt", val, options)
 .then(() => {
console.log("Added preference to storage");
 })

    })
    .catch(function(err) {  
        console.log('Failed to fetch page: ', err);  
    });

}

</script>

<script>

// SCRIPT FOR STORING SND DISPLAYING SEARCHES

function storeInDb() {
    let searchString = document.querySelector("#q").value
    localStorage.setItem("searx-" + searchString, searchString);
    console.log("stored in local")
}


function storeInBlockstack(search, count) {
    let options = {
        encrypt: false
    }
    let fileName = `/s-${count}.txt`;
    userSession.putFile(fileName, search, options)
        .then(() => {
            console.log("Added search string to blockstack storage");
        })
}

function countStore(count) {
    let options = {
        encrypt: false
    }
    userSession.putFile("/s-count.txt", String(count), options)
        .then(() => {
            console.log("Storing Count value");
        })
}

async function countGet() {
    let options = {
        decrypt: false
    }
    let count = await userSession.getFile("/s-count.txt", options)
    console.log("Got count");
    return Number(count)
}




async function searchStoreMain() {

    const element = document.querySelector('#search_form');
    element.addEventListener('submit', event => {
        event.preventDefault();
        storeInDb()
        element.submit()
    });

    let count = await countGet();

    // Finding searx searches in localstorage
    Object.keys(localStorage).forEach(function (key) {
        let search = localStorage.getItem(key);
        if (key.startsWith("searx-")) {
            console.log(search);
            storeInBlockstack(search, count)
        }
    })
    countStore(count + 1)
}

(async function displayStoreMain() {
    let count = await countGet();

    let options = {
        decrypt: false
    }
    for (let i = 1; i < count; i++) {
        let fileName = `/s-${i}.txt`;
        let search = await userSession.getFile(fileName, options)
        console.log(search);
    }
})();

window.addEventListener('load', async function () { await searchStoreMain() })


</script>
	
</div>
